<script setup lang="ts">
import PhaseChallenges from "../../components/PhaseChallenges.vue";
import ChallengeExplenation from "../../components/ChallengeExplenation.vue";
import { Ref, ref, onMounted } from "vue";
import { MetaService } from "../../generated/services/MetaService";
import { OrderStats } from "../../models/OrderStats";

const TOURNAMENT_ID_FOR_CHALLENGES = "4";
const stats: Ref<OrderStats[]> = ref([]);
const tab = ref(null);
const mainChallenges = [
  { text: "Make an Ad for the Scorillaz on Socialmedia", points: 2 },
  { text: "Give Guli a treat, do something sweet", points: 2 },
  { text: "Become Party Winner (two chances, Friday and Saturday)", points: 5 },
  {
    text: "Give Eva a Birthday present (it’s not really her birthday, though)",
    points: 1,
  },
  {
    text: "Bring one of the Scorillaz a special drink (you only get the point when it’s tasty enough!)",
    points: 1,
  },
  {
    text: "Bring the ass picture back! (only teams who attended last time)",
    points: 1,
  },
  {
    text: "Bring back Mahaj-ma Gulis Face! (only teams who attended last time)",
    points: 8,
  },
];

onMounted(() => {
  loadStats();
  setInterval(
    function () {
      loadStats();
    }.bind(this),
    30000 // 30 Seconds
  );
});

function loadStats() {
  MetaService.statsOrder(TOURNAMENT_ID_FOR_CHALLENGES).then((res) => {
    stats.value = res;
  });
}
</script>

<template>
  <!-- Remove title for consistency -->
  <v-tabs v-model="tab" bg-color="deep-purple-darken-2" fixed-tabs color="#fff">
    <v-tab value="challenge">Challenges</v-tab>
    <v-tab value="stats">Stats</v-tab>
  </v-tabs>

  <v-window v-model="tab">
    <v-window-item value="challenge">
      <ChallengeExplenation class="mt-4" />
      <v-card class="p-5 mt-10">
        <div class="text-h4">Phase Challenges</div>
        <PhaseChallenges />
      </v-card>
      <v-card class="p-5 mt-5">
        <div class="text-h4">Main Challenges</div>
        <div class="text-h5 mt-5">Off the Field</div>
        <v-card
          class="text-body-2 m-2 mt-4 p-5 max-w-md bg-purple-100"
          v-for="challenge in mainChallenges"
          :key="challenge.text"
        >
          {{ challenge.text }}
          <p class="font-bold">{{ challenge.points }} points</p>
        </v-card>
        <div class="text-h5 mt-5">On the Field</div>
        <div class="text-h6 mt-5">Callahan - <b>5 Points</b></div>
        <p>
          The “Callahan” is a score that happens when a defender intercepts a
          pass in their attacking endzone. The only unassisted score in ultimate
        </p>

        <div class="text-h6 mt-5">Greatest - <b>4 Points</b></div>
        <p>
          The "Greatest" is a spectacular move used to save the disc from going
          out of bounds. It happens when a player is airborne and, while going
          out of bounds, throws the disc back into the field of play to a
          teammate before touching the ground. To perform the Greatest, the
          player must catch the disc while still in the playing field, then jump
          and release it before landing out of bounds, making sure the disc
          re-enters the field before any part of their body touches the ground
          out of bounds.
        </p>
        <div class="text-h6 mt-5">Dropped Pull - <b>1 Points</b></div>
        <p>
          A "Dropped Pull" occurs during the opening throw of a point. The
          pulling team sends the frisbee downfield to start the game, but
          sometimes the receiving team fails to catch the pull, and the disc
          hits the ground instead. In this situation, the receiving team starts
          their offensive possession from the spot where the disc landed.
        </p>
        <div class="text-h6 mt-5">Drunken Cowboy - <b>3 Points</b></div>
        <p>
          The three handlers work their way up the field with handler moves
          (short passes) until about halfway down the field. During this time,
          the runners jog in a circle one after the other. Upon a signal from
          the designated handler, one of the runners breaks out of the circle
          and goes deep.
        </p>
        <p class="mt-3">
          <b>Important:</b> Handlers and runners must know when the ‘huck’ is
          coming. Category: Off-the-Pull You will receive the challenge points
          only upon successfully completing the move.
        </p>
        <div class="text-h6 mt-5">Layout with Catch - <b>2 Points</b></div>
        <p>
          A "Layout with Catch" is a diving play where a player extends their
          body horizontally towards the disc, leaving their feet and laying out
          to make a catch. This play is commonly used when the disc is just out
          of reach and requires full extension to secure the catch. It's a
          spectacular move and often seen in highlight reels.
        </p>
        <div class="text-h6 mt-5">
          Getting a point Streaking - <b>4 Points</b>
        </div>
        <p>
          Run across the field during a game, make a point. <b>BUT NAKED!</b>
        </p>
      </v-card>
    </v-window-item>
    <v-window-item value="stats">
      <v-card class="mt-5 p-5">
        <div class="text-h4">Stats</div>
        <v-table>
          <thead>
            <tr>
              <th class="text-left">Team</th>
              <th class="text-left">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in stats" :key="item.name">
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-card>
    </v-window-item>
  </v-window>
</template>
