<script setup lang="ts">
import { MetaService } from "../../generated/services/MetaService";
import { onMounted, ref, Ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { MatchTeam } from "../../generated/models/MatchTeam";

const defaultItem: MatchTeam = {
  attitude_and_self_control: 2,
  communication: 2,
  fair_mindedness: 2,
  fouls_and_body_contact: 2,
  placeholder: "",
  rules_knowledge_and_use: 2,
  spirit_remarks: "",
  display: "",
};

const item: Ref<MatchTeam> = ref(defaultItem);
const form = ref(null);
const route = useRoute();
const router = useRouter();

onMounted(() => {
  const route = useRoute();

  MetaService.retrieveMatchTeam(
    route.params.tournament_id as string,
    route.params.match_team_id as string
  ).then((match_team: MatchTeam) => {
    if (match_team.score) {
      item.value = match_team;
    } else {
      item.value.display = match_team.display;
    }
  });
});

const tickLabels = {
  0: "0",
  score: 0,
  1: "1",
  2: "2",
  3: "3",
  4: "4",
};

async function submitForm() {
  // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
  const validation = await (form!.value! as HTMLFormElement).validate();

  if (validation.valid) {
    MetaService.updateMatchTeam(
      route.params.tournament_id as string,
      route.params.match_team_id as string,
      item.value
    ).then(() => {
      router.back(); // Navigate back or to another route
    });
  }
}

const rules = {
  spiritRequired: (value: string) =>
    !!value ||
    totalSpirit() > 8 ||
    "You need to make a comment if your spirit score is 8 or lower.",
  scoreRequired: (value: number) => !!value || "The score has to be filed in!",
};

function totalSpirit() {
  return (
    (item.value.attitude_and_self_control || 0) +
    (item.value.communication || 0) +
    (item.value.fair_mindedness || 0) +
    (item.value.fouls_and_body_contact || 0) +
    (item.value.rules_knowledge_and_use || 0)
  );
}
</script>

<template>
  <v-app>
    <v-container v-if="item">
      <div class="text-h4 mb-5">{{ item.display }}</div>
      <v-form fast-fail ref="form" @submit.prevent="submitForm">
        <v-row>
          <v-col>
            <v-select
              v-if="item.score !== null"
              v-model="item.score"
              :label="`Points scored by ${item.display}`"
              :rules="[rules.scoreRequired]"
              :items="[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]"
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div class="text-caption">Rukes Knowledge and Use</div>
            <v-slider
              v-if="item.rules_knowledge_and_use !== null"
              v-model="item.rules_knowledge_and_use"
              :ticks="tickLabels"
              :max="4"
              :step="1"
              show-ticks="always"
              tick-size="5"
            ></v-slider>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <div class="text-caption">Fouls and Body Contact</div>
            <v-slider
              v-if="item.fouls_and_body_contact !== null"
              v-model="item.fouls_and_body_contact"
              :ticks="tickLabels"
              :max="4"
              :step="1"
              show-ticks="always"
              tick-size="5"
            ></v-slider>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <div class="text-caption">Fair Mindedness</div>
            <v-slider
              v-if="item.fair_mindedness !== null"
              v-model="item.fair_mindedness"
              :ticks="tickLabels"
              :max="4"
              :step="1"
              show-ticks="always"
              tick-size="5"
            ></v-slider>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <div class="text-caption">Attitude and Self Control</div>
            <v-slider
              v-if="item.attitude_and_self_control !== null"
              v-model="item.attitude_and_self_control"
              :ticks="tickLabels"
              :max="4"
              :step="1"
              show-ticks="always"
              tick-size="5"
            ></v-slider>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <div class="text-caption">Communication</div>
            <v-slider
              v-if="item.communication !== null"
              v-model="item.communication"
              :ticks="tickLabels"
              :max="4"
              :step="1"
              show-ticks="always"
              tick-size="5"
            ></v-slider>
          </v-col>
        </v-row>

        <hr />
        <v-row>
          <v-col class="p-4 font-bold">Total: {{ totalSpirit() }} </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-textarea
              label="Comment"
              v-model="item.spirit_remarks"
              :rules="[rules.spiritRequired]"
            ></v-textarea>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn class="m-3" color="grey" @click="router.back()">Back</v-btn>
            <v-btn class="m-3" type="submit">Submit</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
  </v-app>
</template>
