<script setup lang="ts">
import { MetaService } from "../../generated/services/MetaService";
import { onMounted, ref, Ref } from "vue";
import { useRoute } from "vue-router";
import { Match, TournamentPhase } from "../../generated";
import MatchList from "../../components/matches/MatchList.vue";
import GroupStats from "../../components/matches/GroupStats.vue";

const items: Ref<Match[]> = ref([]);
const phases: Ref<TournamentPhase[]> = ref([]);
const route = useRoute();
const loading = ref(false);
let selectedPhaseId: number | undefined;
let selectedGroupId: number | undefined;

onMounted(() => {
  MetaService.listTournamentPhases(route.params.tournament_id as string).then(
    (result: TournamentPhase[]) => {
      phases.value = result;
      if (!result[0]) return;

      if (result[0].groups.length) {
        selectGroup(result[0].groups[0].id);
      } else {
        selectPhase(result[0].id);
      }
    }
  );
});

function selectPhase(phase_id?: number): void {
  if (!phase_id) return;
  selectedGroupId = undefined;
  selectedPhaseId = phase_id;
  fetchItems();
}

function selectGroup(group_id?: number): void {
  if (!group_id) return;
  selectedPhaseId = undefined;
  selectedGroupId = group_id;
  fetchItems();
}

function fetchItems(): void {
  loading.value = true;
  MetaService.listMatchs(
    route.params.tournament_id as string,
    selectedPhaseId,
    selectedGroupId
  )
    .then((teams: Match[]) => {
      items.value = teams;
    })
    .finally(() => (loading.value = false));
}
</script>

<template>
  <v-card class="rounded-b-none">
    <v-tabs
      bg-color="deep-purple-darken-2"
      fixed-tabs
      color="#fff"
      :show-arrows="true"
    >
      <template v-for="phase in phases">
        <template v-if="phase.groups.length">
          <v-tab
            :loading="loading && selectedGroupId == group.id"
            v-for="group in phase.groups"
            @click="selectGroup(group.id!)"
            :key="group.id"
          >
            {{ group.name }}
          </v-tab>
        </template>
        <v-tab
          v-else
          :loading="loading && selectedPhaseId == phase.id"
          @click="selectPhase(phase.id!)"
          :key="phase.id"
        >
          {{ phase.name }}
        </v-tab>
      </template>
    </v-tabs>
  </v-card>

  <MatchList :items="items" />
  <GroupStats :items="items" v-if="selectedGroupId" />
</template>
