<script setup lang="ts">
import { useDisplay } from "vuetify/lib/framework.mjs";
import { AuthService } from "../../generated/services/AuthService";
import { MetaService } from "../../generated/services/MetaService";
import { onMounted, ref, Ref } from "vue";
import { Match } from "../../generated/models/Match";
import { useRoute } from "vue-router";
import SingleSpiritStat from "../../components/matches/SingleSpiritStat.vue";
import SpiritChart from "../../components/matches/SpiritChart.vue";
import router from "../../router";
import { MatchTeam } from "../../generated";

const { mobile } = useDisplay();

const item: Ref<Match | null> = ref(null);
const route = useRoute();
let isLoggedIn = false;
const canScoreLeftTeam = ref(false);
const canScoreRightTeam = ref(false);

onMounted(() => {
  AuthService.listisLoggedIns().then((result) => {
    isLoggedIn = result;
  });

  MetaService.retrieveMatch(
    route.params.tournament_id as string,
    route.params.match_id as string
  ).then((match: Match) => {
    item.value = match;
    checkScoringPermissions(match);
  });
});

function checkScoringPermissions(match: Match) {
  MetaService.canUpdateMatchTeam(
    route.params.tournament_id as string,
    match.left_team.id as unknown as string
  ).then((result) => {
    canScoreRightTeam.value = result;
  });

  MetaService.canUpdateMatchTeam(
    route.params.tournament_id as string,
    match.right_team.id as unknown as string
  ).then((result) => {
    canScoreLeftTeam.value = result;
  });
}

function totalSpirit(team: MatchTeam): number {
  return (
    (team.attitude_and_self_control || 0) +
    (team.communication || 0) +
    (team.fair_mindedness || 0) +
    (team.fouls_and_body_contact || 0) +
    (team.rules_knowledge_and_use || 0)
  );
}
</script>

<template>
  <div v-if="item">
    <div class="py-5 d-flex flex-wrap justify-center text-center text-h4">
      <div class="flex" :class="mobile ? 'w-100' : 'w-5/12'">
        <div class="w-4/5" :class="mobile ? 'text-left' : ''">
          {{ item.left_team.display }}
        </div>
        <div class="w-1/5 text-right">{{ item.left_team.score }}</div>
      </div>
      <div class="w-2/12" v-if="!mobile">{{ mobile ? "" : "-" }}</div>
      <div class="flex" :class="mobile ? 'w-100' : 'w-5/12'">
        <div v-if="!mobile" class="w-1/4 text-left">
          {{ item.right_team.score }}
        </div>
        <div class="w-4/5" :class="mobile ? 'text-left' : ''">
          {{ item.right_team.display }}
        </div>
        <div v-if="mobile" class="w-1/5 text-right">
          {{ item.right_team.score }}
        </div>
      </div>
    </div>

    <div v-if="isLoggedIn">
      <div class="py-5 d-flex justify-center text-h4 flex-wrap">
        <v-btn
          v-if="canScoreLeftTeam"
          class="m-4 overflow-hidden"
          density="default"
          :key="item.id"
          :to="{
            name: 'tournament_match_team_form',
            params: {
              match_team_id: item.left_team.id,
            },
          }"
          ><span class="whitespace-normal"
            >Submit Result for {{ item.left_team.display }}</span
          ></v-btn
        >
        <v-btn
          v-if="canScoreRightTeam"
          class="m-4 overflow-hidden"
          :key="item.id"
          :to="{
            name: 'tournament_match_team_form',
            params: {
              match_team_id: item.right_team.id,
            },
          }"
          ><span class="whitespace-normal"
            >Submit Result for {{ item.right_team.display }}</span
          ></v-btn
        >
      </div>
    </div>
    <div v-else>
      <div class="py-5 d-flex justify-center h-20 text-h4">
        <a :href="`/auth/login?next=${router.currentRoute.value.fullPath}`">
          <v-btn>Log In to fill in your Results</v-btn>
        </a>
      </div>
    </div>

    <v-card class="my-5">
      <v-card-title class="pt-7 text-center text-h5"> Spirit </v-card-title>
      <v-row>
        <v-col class="text-center">
          {{ item.left_team.display }}
          <span
            class="font-bold"
            v-if="
              totalSpirit(item.left_team) > 0 &&
              (canScoreLeftTeam ||
                (!!item.left_team.score && !!item.right_team.score))
            "
            >: {{ totalSpirit(item.left_team) }}</span
          >
        </v-col>
        <v-col class="text-center">
          {{ item.right_team.display }}
          <span
            class="font-bold"
            v-if="
              totalSpirit(item.right_team) &&
              (canScoreRightTeam ||
                (!!item.left_team.score && !!item.right_team.score))
            "
            >: {{ totalSpirit(item.right_team) }}</span
          >
        </v-col>
      </v-row>
      <SingleSpiritStat
        title="Rules Knowledge and Use"
        :left-score="item.left_team.rules_knowledge_and_use"
        :right-score="item.right_team.rules_knowledge_and_use"
        :show-left="
          canScoreLeftTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
        :show-right="
          canScoreRightTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
      />
      <SingleSpiritStat
        title="Fouls and Body Contact"
        :left-score="item.left_team.fouls_and_body_contact"
        :right-score="item.right_team.fouls_and_body_contact"
        :show-left="
          canScoreLeftTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
        :show-right="
          canScoreRightTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
      />
      <SingleSpiritStat
        title="Fair Mindedness"
        :left-score="item.left_team.fair_mindedness"
        :right-score="item.right_team.fair_mindedness"
        :show-left="
          canScoreLeftTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
        :show-right="
          canScoreRightTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
      />
      <SingleSpiritStat
        title="Attitude and Self Control"
        :left-score="item.left_team.attitude_and_self_control"
        :right-score="item.right_team.attitude_and_self_control"
        :show-left="
          canScoreLeftTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
        :show-right="
          canScoreRightTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
      />
      <SingleSpiritStat
        title="Communication"
        :left-score="item.left_team.communication"
        :right-score="item.right_team.communication"
        :show-left="
          canScoreLeftTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
        :show-right="
          canScoreRightTeam ||
          (!!item.left_team.score && !!item.right_team.score)
        "
      />

      <div class="mx-10 d-flex justify-center">
        <div
          v-if="
            canScoreLeftTeam ||
            (!!item.left_team.score && !!item.right_team.score)
          "
          :class="mobile ? 'w-1/2' : 'w-1/3'"
        >
          {{ item.left_team.spirit_remarks }}
        </div>
        <div v-else class="w-1/3"></div>

        <div
          v-if="
            canScoreRightTeam ||
            (!!item.right_team.score && !!item.right_team.score)
          "
          :class="mobile ? 'w-1/2' : 'w-1/3'"
        >
          {{ item.right_team.spirit_remarks }}
        </div>
        <div v-else class="w-1/3"></div>
      </div>

      <SpiritChart
        v-if="item.right_team.score && item.left_team.score"
        :left-team="item.left_team"
        :right-team="item.right_team"
      />
    </v-card>
  </div>
</template>
