<script setup lang="ts">
import { Ref, ref, onMounted } from "vue";
import { MetaService } from "../../generated/services/MetaService";
import { OrderStats } from "../../models/OrderStats";

const TOURNAMENT_ID_FOR_CHALLENGES = "2";
const stats: Ref<OrderStats[]> = ref([]);

onMounted(() => {
  loadStats();
  setInterval(
    function () {
      loadStats();
    }.bind(this),
    30000 // 30 Seconds
  );
});

function loadStats() {
  MetaService.statsOrder(TOURNAMENT_ID_FOR_CHALLENGES).then((res) => {
    stats.value = res;
  });
}
</script>

<template>
  <v-card class="p-5">
    <div class="text-h4">Story</div>
    <img
      class="w-auto mt-4 mb-4"
      src="@/assets/images/story_ring.jpeg"
      alt="story ring"
    />
    <div class="text-body-2">
      <p class="mt-2">
        It all began with an expedition for a mythical artifact to find the way
        to the legendary Mahaj-ma-Guli. Our primates faced various obstacles
        until they finally discovered the entrance to the cave where the
        artifact lay. Attempting to open the portal to Mahaj-ma-Guli's
        dimension, it unexpectedly collapsed! Only entirely abstinent creatures
        could maintain a stable connection, which our primates certainly
        weren't.
      </p>

      <p class="mt-4">
        Nine scattered pieces of the artifact awaited them across the world,
        requiring gradual gathering to enter Mahaj-ma-Guli's realm. His glorious
        righteousness overwhelmed the crowd, leading them to worship and idolize
        Him. Despite a year of prosperity, the inevitable occurred—a horde of
        mad gorillas united to form a Guerilla organization, seeking to
        overthrow Mahaj-ma-Guli. After an unyielding and fierce war,
        Mahaj-ma-Guli vanished, and the Guerillas took control.
      </p>

      <p class="mt-4">
        After three ruthless years under guerrilla rule, our primates languished
        in a desolated prison yard. Ultimate Frisbee, once their joy, became a
        distant memory—discs now mere bowls for gray slop meals.
      </p>

      <p class="mt-4">
        One day, a tossed disc triggered memories, igniting the fighting spirit.
        With a daring escape plan, they stole a rubber boat, transforming into
        god-like creatures using "borrowed" bed sheets.
      </p>

      <p class="mt-4">
        They arrived in a mystical land of milk, honey, and ambrosia—a feast of
        freedom! Dancing around the ambrosia tree, they rejoiced, eager for new
        challenges. The next morning, they found themselves lonely on a playing
        field. What did they need? Opponents!
      </p>
    </div>
  </v-card>
</template>
