<script setup lang="ts">
import { MetaService } from "../../generated/services/MetaService";
import { onMounted, ref, Ref } from "vue";
import { Match } from "../../generated/models/Match";
import { useRoute } from "vue-router";
import MatchList from "../../components/matches/MatchList.vue";
import { MatchTeam, TournamentTeam } from "../../generated";
import SpiritChart from "../../components/matches/SpiritChart.vue";

const item: Ref<TournamentTeam | null> = ref(null);
const route = useRoute();
const matches: Ref<Match[]> = ref([]);

const ownMatchTeams: Ref<MatchTeam[]> = ref([]);

const averageItem: Ref<MatchTeam> = ref({
  attitude_and_self_control: 0,
  communication: 0,
  fair_mindedness: 0,
  fouls_and_body_contact: 0,
  placeholder: "",
  rules_knowledge_and_use: 0,
  spirit_remarks: "",
});

onMounted(() => {
  MetaService.retrieveTournamentTeam(
    route.params.tournament_id as string,
    route.params.team_id as string
  ).then((team) => {
    item.value = team;
    averageItem.value.display = team.team_name;
  });

  MetaService.listMatchs(
    route.params.tournament_id as string,
    undefined,
    undefined,
    route.params.team_id as unknown as number
  ).then((teams: Match[]) => {
    matches.value = teams;
    findOwnMaches();
    calculateAverage();
  });
});

function findOwnMaches(): void {
  matches.value.forEach((match) => {
    if (
      (match.right_team.tournament_team_id as unknown) ==
        (route.params.team_id as string) &&
      match.left_team.score
    ) {
      ownMatchTeams.value.push(match.right_team);
    }
    if (
      (match.left_team.tournament_team_id as unknown) ==
        (route.params.team_id as string) &&
      match.right_team.score
    ) {
      ownMatchTeams.value.push(match.left_team);
    }
  });
}

function calculateAverage(): void {
  const sotg = [
    "rules_knowledge_and_use",
    "communication",
    "fair_mindedness",
    "fouls_and_body_contact",
    "attitude_and_self_control",
  ];

  sotg.forEach((cat: string) => {
    const result = ownMatchTeams.value.map(
      (t: MatchTeam) => t[cat as keyof typeof MatchTeam] as number
    );

    result.filter((x) => {
      return x != undefined;
    });
    (averageItem.value[cat as keyof typeof MatchTeam] as number) =
      getAverage(result);
  });
}

function getAverage(arr: number[]): number {
  const reducer = (total: number, currentValue: number) => total + currentValue;
  const sum = arr.reduce(reducer);
  return (sum / arr.length) as number;
}

function getTotalSpirit(): number {
  return (
    (averageItem.value.rules_knowledge_and_use || 0) +
    (averageItem.value.fouls_and_body_contact || 0) +
    (averageItem.value.fair_mindedness || 0) +
    (averageItem.value.attitude_and_self_control || 0) +
    (averageItem.value.communication || 0)
  );
}
</script>

<template>
  <template v-if="item">
    <div class="text-h3">
      {{ item && item.team_name }}
    </div>
    <v-card class="mt-5">
      <div class="text-h4 p-3">Games</div>
      <MatchList
        :items="matches"
        :current-team-id="route.params.team_id as unknown as number"
      />
      <div v-if="!matches.length" class="text-center p-5 text-gray-400">
        There are no games for your team yet
      </div>
    </v-card>

    <v-card class="mt-5">
      <div class="text-h4 p-3">Spirit</div>
      <div class="d-flex flex-wrap-reverse" v-if="ownMatchTeams.length">
        <SpiritChart class="flex-1-0" :single-team="averageItem" />
        <v-table class="flex-1-0">
          <thead>
            <tr>
              <th
                class="border-none text-h5 font-weight-bold italic text-center"
              >
                Tot.
              </th>
              <th class="border-none text-center">
                <v-avatar
                  image="@/assets/images/sotg/rules.png"
                  rounded="0"
                  title="Rules Knowledge and use"
                  alt="Rules Knowledge and use"
                  size="60"
                ></v-avatar>
              </th>
              <th class="border-none text-center">
                <v-avatar
                  image="@/assets/images/sotg/contact.png"
                  rounded="0"
                  title="Fouls and Body contact"
                  alt="Fouls and Body contact"
                  size="60"
                ></v-avatar>
              </th>
              <th class="border-none text-center">
                <v-avatar
                  image="@/assets/images/sotg/fair.png"
                  rounded="0"
                  title="Fair mindedness"
                  alt="Fair mindedness"
                  size="60"
                ></v-avatar>
              </th>
              <th class="border-none text-center">
                <v-avatar
                  image="@/assets/images/sotg/attitude.png"
                  rounded="0"
                  title="Positive Attitude and self control"
                  alt="Positive Attitude and self control"
                  size="60"
                ></v-avatar>
              </th>
              <th class="border-none text-center">
                <v-avatar
                  image="@/assets/images/sotg/communication.png"
                  rounded="0"
                  title="Communication"
                  alt="Communication"
                  size="60"
                ></v-avatar>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-h5 font-weight-bold text-center italic">
                {{ getTotalSpirit().toFixed(2) }}
              </td>
              <td class="text-h5 text-center italic">
                {{ averageItem.rules_knowledge_and_use?.toFixed(2) }}
              </td>
              <td class="text-h5 text-center italic">
                {{ averageItem.fouls_and_body_contact?.toFixed(2) }}
              </td>
              <td class="text-h5 text-center italic">
                {{ averageItem.fair_mindedness?.toFixed(2) }}
              </td>
              <td class="text-h5 text-center italic">
                {{ averageItem.attitude_and_self_control?.toFixed(2) }}
              </td>
              <td class="text-h5 text-center italic">
                {{ averageItem.communication?.toFixed(2) }}
              </td>
            </tr>
          </tbody>
        </v-table>
      </div>
      <div v-else class="text-center p-5 text-gray-400">
        There are no spirit scores entered yet
      </div>
    </v-card>
  </template>
</template>
