<script setup lang="ts">
import { TournamentTeam } from "../../generated/models/TournamentTeam";
import { MetaService } from "../../generated/services/MetaService";
import { onMounted, ref, Ref } from "vue";
import { useRoute } from "vue-router";

const items: Ref<TournamentTeam[]> = ref([]);

onMounted(() => {
  const route = useRoute();

  MetaService.listTournamentTeams(route.params.tournament_id as string).then(
    (teams: TournamentTeam[]) => {
      items.value = teams;
    }
  );
});
</script>

<template>
  <v-list>
    <v-list-item
      class="my-4"
      v-for="item in items"
      :key="item.team_name"
      :title="item.team_name"
      :to="{
        name: 'tournament_team_detail',
        params: {
          team_id: item.id,
        },
      }"
    >
      <template #prepend>
        <v-avatar color="grey-lighten-1">
          <v-icon color="white">mdi-account-multiple</v-icon>
        </v-avatar>
      </template>
    </v-list-item>
  </v-list>
</template>
