<script setup lang="ts">
type TimelineItem = {
  items: string[];
  time: string;
};
const timeline_items: TimelineItem[] = [
  { time: "Friday", items: [] },
  { time: "19:30", items: ["Captains Meeting", "Dinner", "Movie Premier"] },
  { time: "Saturday", items: [] },
  { time: "07:30", items: ["Start Breakfast"] },
  { time: "09:00", items: ["Start Games"] },
  { time: "18:00", items: ["Beerrace"] },
  { time: "19:00 - 21:00", items: ["Delicious Dinner"] },
  { time: "21:00 - 22:00", items: ["Loretta"] },
  { time: "22:00 - 23:00", items: ["Ceremony"] },
  { time: "23:00 - 24:00", items: ["Vagante"] },
  { time: "00:00 - 02:00", items: ["Hits and Shits Circus Tent"] },
  { time: "02:00 - 04:00", items: ["Silent Disco with DJ"] },
  { time: "04:00 - 06:00", items: ["Spontaneous Music"] },
  { time: "Sunday", items: [] },
  { time: "08:00", items: ["Start Breakfast"] },
  { time: "10:00", items: ["Start Games"] },
  { time: "16:15", items: ["Award Ceremony"] },
];
</script>

<template>
  <v-card class="p-5">
    <div class="text-h4">Timetable</div>
    <v-timeline side="end" align="start">
      <v-timeline-item
        v-for="item in timeline_items"
        :key="item.time"
        :dot-color="item.items.length === 0 ? 'pink' : 'teal-lighten-3'"
        size="small"
      >
        <div class="d-flex">
          <strong class="me-4">{{ item.time }}</strong>
          <div>
            <div :key="text" v-for="text in item.items" class="text-caption">
              {{ text }}
            </div>
          </div>
        </div>
      </v-timeline-item>
    </v-timeline>
  </v-card>
</template>
