<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      fullscreen
      :scrim="false"
      transition="dialog-bottom-transition"
    >
      <template #activator="{ props }">
        <v-btn color="primary" dark v-bind="props">How does it work?</v-btn>
      </template>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="dialog = false">
            <v-icon class="text-white" icon="mdi-close"></v-icon>
          </v-btn>
          <v-toolbar-title>Explanation</v-toolbar-title>
          <v-toolbar-items>
            <v-btn variant="text" @click="dialog = false">Close</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <!-- ==== Content here ==== -->
        <div class="m-3">
          <div class="text-h4">Explanation</div>
          <p class="mt-3">
            During the event, your team will have the opportunity to complete
            various challenges to gather points. At the end of the event, there
            will be a rank announcement. The challenges are separated into three
            different categories.
          </p>

          <div class="text-h5 mt-5">1. Main Challenges</div>
          <p class="mt-3">
            Some of these challenges will take place on the field during the
            games, and every team member can complete them multiple times. They
            are listed in the following part of the booklet. After completion of
            a field main challenge, you can get a stamp in your booklet from the
            scorekeepers right away. Your opposing team must agree and confirm
            for you to get the points. The stamps of every team member will be
            counted at the end of the event, so don't lose your booklet. After
            completion of a non field main challenge you’ll receive your points
            by going to the bar with the concerning person or another confirming
            Scorillaz member.
          </p>

          <div class="text-h5 mt-5">2. Phase Challenges</div>
          <p class="mt-3">
            The phases will be spread throughout the event. There are specific
            time slots for each phase. The phase challenges must be completed
            during the given time slots, and you will have to provide proof for
            you to get the points. The phase challenges will be announced on the
            Scorillaz website. Each phase challenge can only be completed once
            per team.
          </p>

          <div class="text-h5 mt-5">3. Spontaneous Challenges</div>
          <p class="mt-3">
            As the name suggests, these challenges happen spontaneously at
            random times during the event. Spontaneous challenges can only be
            completed once, so there will only be one team to get the points per
            challenge. All the challenges will be announced in the captains chat
          </p>

          <p class="mt-3">
            At least one member of the Scorillaz needs to confirm your
            completion of the challenge. To receive your points you must go to
            the bar with the confirming Scorillaz member. Cheating results in
            negative point penalties.
          </p>
        </div>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
    };
  },
};
</script>
<style>
.dialog-bottom-transition-enter-active,
.dialog-bottom-transition-leave-active {
  transition: transform 0.2s ease-in-out;
}
</style>
