<template>
  <div class="px-10 py-20 text-2xl text-gray flex justify-between items-center">
    <div class="text-center px-4" v-if="countdown.months > 0">
      <span class="text-indigo-600 font-bold block">{{
        countdown.months
      }}</span>
      <span class="text-xs uppercase block">months</span>
    </div>
    <div class="text-center px-4 pl-0">
      <span class="text-indigo-600 font-bold block">{{ countdown.days }}</span>
      <span class="text-xs uppercase block">days</span>
    </div>
    <div class="text-center px-4">
      <span class="text-indigo-600 font-bold block">{{
        countdown.hours | twoDigits
      }}</span>
      <span class="text-xs uppercase block">hrs</span>
    </div>

    <div class="text-center px-4">
      <span class="text-indigo-600 font-bold block">{{
        countdown.minutes | twoDigits
      }}</span>
      <span class="text-xs uppercase block">min</span>
    </div>

    <div class="text-center px-4 pr-0">
      <span class="text-indigo-600 font-bold block">{{
        countdown.seconds | twoDigits
      }}</span>
      <span class="text-xs uppercase block">sec</span>
    </div>
  </div>
</template>

<script>
// TODO: Migrate to TypeScript
import moment from "moment";

export default {
  data() {
    return {
      event: {
        startTime: "2023-07-28T16:00:00",
      },
      countdown: {
        startDiffTime: null,
        expireDiffTime: null,
        months: null,
        days: null,
        hours: null,
        minutes: null,
        seconds: null,
      },
    };
  },

  mounted() {
    this.calculate();

    const secondToWait = 1;
    setInterval(() => {
      this.calculate();
    }, secondToWait * 1000);
  },

  methods: {
    calculate() {
      const now = moment();
      this.countdown.startDiffTime = moment(this.event.startTime).diff(now);

      const duration = moment.duration(
        this.countdown.startDiffTime,
        "milliseconds"
      );

      this.countdown.months = duration.months();
      this.countdown.days = duration.days();
      this.countdown.hours = duration.hours();
      this.countdown.minutes = duration.minutes();
      this.countdown.seconds = duration.seconds();
    },
  },
};
</script>
