<template>
  <div v-if="currentPhase">
    <div class="text-caption ml-2">Solvable until: {{ currentPhase.to }}</div>
    <v-sheet class="d-flex flex-wrap">
      <v-card
        class="text-body-2 m-2 p-5 max-w-md bg-purple-100"
        v-for="challenge in currentPhase.challenges"
        :key="challenge.text"
      >
        {{ challenge.text }}
        <p class="font-bold">{{ challenge.points }} points</p>
      </v-card>
    </v-sheet>
  </div>
  <div v-else>
    <div class="text-body-1 mt-2">
      Why do you wanna make a Phase Challenge now?! Go make some party, there's
      more coming in the Morning!
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, Ref, onMounted, onUnmounted } from "vue";
import moment from "moment";
import { Option } from "../../global";

export type Phase = {
  challenges: Challenge[];
  from: string;
  to: string;
};

export type Challenge = {
  text: string;
  points: number;
};

const currentPhase: Ref<Option<Phase>> = ref(null);

// Array of objects with text challenges and time ranges
const phases: ReadonlyArray<Phase> = [
  {
    from: "28.7.2023 15:00",
    to: "29.7.2023 01:30",
    challenges: [
      { text: "Beer Pong most wins", points: 3 },
      { text: "Thumb wrestling against a Scorillaz member", points: 1 },
    ],
  },
  {
    from: "29.7.2023 8:00",
    to: "29.7.2023 15:00",
    challenges: [
      { text: "Shake shake, boom boom", points: 3 },
      { text: "Win an arm wrestling against Janiss", points: 4 },
      { text: "Crossword puzzle in booklet", points: 3 },
      { text: "Spikeball most wins", points: 3 },
    ],
  },
  {
    from: "29.7.2023 15:00",
    to: "29.7.2023 22:00",
    challenges: [
      { text: "Standup Comedy", points: 2 },
      { text: "Balance the bucket on your feet", points: 4 },
      { text: "Red or blue pill", points: 1 },
    ],
  },
  {
    from: "29.7.2023 18:00",
    to: "30.7.2023 05:00",
    challenges: [
      { text: "Get and keep the Nudelholz until the phase ends!", points: 2 },
      { text: "Nackts chäuberlihänke (Ask Nino)", points: 4 },
      { text: "Impro puppet theatre", points: 3 },
    ],
  },
  {
    from: "30.7.2023 10:00",
    to: "30.7.2023 15:00",
    challenges: [
      { text: "Who can eat more Bananas in 2 Min?", points: 2 },
      { text: "Ambrosia Poem", points: 2 },
      { text: "Discgolf most wins", points: 3 },
    ],
  },
];

const updateCurrentChallenge = () => {
  const now = moment();
  currentPhase.value = null;
  for (const phase of phases) {
    const fromTime = moment(phase.from, "D.M.YYYY HH:mm");
    const toTime = moment(phase.to, "D.M.YYYY HH:mm");
    if (now.isBetween(fromTime, toTime)) {
      currentPhase.value = phase;
      return;
    }
  }
};

let intervalId: number;

onMounted(() => {
  updateCurrentChallenge();
  intervalId = window.setInterval(updateCurrentChallenge, 60000);
});

onUnmounted(() => {
  clearInterval(intervalId);
});
</script>
