/* @import "./bg.jpg"; */

.cash {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  background-image: url("@/assets/images/bg.jpg");
  background-size: cover;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.in-pink {
  background-color: #ff71ce;
}

/* BOXES */
.boxes .box,
.fancy-button {
  background: #b967ff;
  box-shadow: 4px 4px #fffb96;
  color: white;
  font-weight: bold;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: scroll;
}

.boxes .box {
  margin: 5px;
}

.fancy-button.in-green,
.fancy-button.in_green {
  background: #05ffa1;
  color: #444;
}

.boxes .box button,
.boxes .box {
  height: 100px;
  width: 180px;
}

.boxes .box button {
  padding: 5px;
}
/* BOXES END */

/* MODAL */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  box-shadow: 1px 1px 30px #fffb96;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 4px solid #ff71ce;
  width: 90%; /* Could be more or less, depending on screen size */
  height: 90%;
  overflow: scroll;
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 1;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
