input, select, textarea {
  padding: 8px!important;
  border-radius: 6px;
  border: 1.5px solid #EBEBEB
}

select {
  background-image: none!important;
}

input:focus {
  outline: 2px solid #0000;
  outline-offset: 2px;
}

input[type="checkbox"]::after {
  margin-left: -8px!important;
  margin-top: -8px!important;
}

input:focus, textarea:focus {
  box-shadow: 0 0 6px rgba(192, 132, 252, 1);
}
