<script lang="ts">
import { defineComponent } from "vue";
import Notification from "./Notification.vue";

export default defineComponent({
  name: "AppLayout",
  components: { Notification },
});
</script>

<script lang="ts" setup>
import { computed } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
/**
 *  This is a computed property that will return the name
 *  of the current route
 */
const layout = computed(() => {
  const layout = route?.meta?.layout;

  if (layout) {
    return layout;
  } else {
    return "div";
  }
});
</script>

<template>
  <component :is="layout">
    <RouterView />
    <Notification />
  </component>
</template>
