<script lang="ts">
import { defineComponent, onMounted, Ref, ref } from "vue";
import { useDisplay, useTheme } from "vuetify/lib/framework.mjs";
import { useRoute } from "vue-router";
import Navigation from "./Navigation.vue";

export default defineComponent({
  name: "DefaultLayout",
  components: { Navigation },
});
</script>

<script setup lang="ts">
export type NavigationItem = {
  name: string;
  icon: string;
  route: string;
};

const { mobile } = useDisplay();

const navigationItems: Ref<NavigationItem[]> = ref([]);

onMounted(() => {
  const route = useRoute();
  navigationItems.value = [
    {
      name: "Matches",
      icon: "mdi-disc",
      route: `/m/${route.params.tournament_id}/matches`,
    },
    {
      name: "Teams",
      icon: "mdi-account-multiple",
      route: `/m/${route.params.tournament_id}/teams`,
    },
    {
      name: "Challenges",
      icon: "mdi-trophy-variant-outline",
      route: `/m/${route.params.tournament_id}/challenges`,
    },
    {
      name: "TimeTable",
      icon: "mdi-clock-time-eight",
      route: `/m/${route.params.tournament_id}/timetable`,
    },
    {
      name: "Story",
      icon: "mdi-book-open-variant",
      route: `/m/${route.params.tournament_id}/story`,
    },
  ];
});
</script>

<template>
  <v-card>
    <v-layout>
      <Navigation :navigation-items="navigationItems" />
      <v-main
        style="min-height: 100vh; background-color: #eeeee4"
        :style="{
          backgroundColor:
            useTheme().name.value !== 'dark' ? '#eeeee4' : '#22222a',
        }"
      >
        <div class="py-5" :class="mobile ? 'px-1' : 'px-40'">
          <slot></slot>
        </div>
      </v-main>
    </v-layout>
  </v-card>
</template>
