<script setup lang="ts">
import { MetaService } from "../generated/services/MetaService";
import { Tournament } from "../generated";
import { onMounted, ref, Ref } from "vue";
import { useDisplay } from "vuetify";
import { useRoute } from "vue-router";
import { NavigationItem } from "./DefaultLayout.vue";

defineProps({
  navigationItems: {
    type: Array<NavigationItem>,
    required: true,
    default: () => [],
  },
});
const { mobile } = useDisplay();

const drawer: Ref<boolean | null> = ref(null);
const title: Ref<string> = ref("undefined");

onMounted(() => {
  const route = useRoute();

  MetaService.retrieveTournament(route.params.tournament_id as string).then(
    (tournament: Tournament) => {
      title.value = tournament.name;
    }
  );
});
</script>

<template>
  <v-app-bar v-if="mobile" :elevation="2" rounded>
    <v-app-bar-nav-icon
      variant="text"
      @click.stop="drawer = !drawer"
    ></v-app-bar-nav-icon>
  </v-app-bar>

  <v-navigation-drawer
    class="h-auto"
    v-model="drawer"
    :temporary="mobile"
    :location="mobile ? 'top' : 'left'"
  >
    <v-list>
      <v-list-item
        prepend-avatar="@/assets/images/logo.svg"
        :title="title"
      ></v-list-item>
    </v-list>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        v-for="item in navigationItems"
        :prepend-icon="item.icon"
        :key="item.name"
        :title="item.name"
        :link="true"
        :to="item.route"
        :nav="true"
        color="primary"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>
