<script setup lang="ts">
import { useSnackbar } from "@/stores/snackbar.vue";

const TIMEOUT = 5000;
const snackbar = useSnackbar();
</script>

<template>
  <v-snackbar
    v-model="snackbar.show"
    :color="snackbar.color"
    :timeout="TIMEOUT"
  >
    {{ snackbar.message }}
    <template #actions>
      <v-btn color="white" variant="text" @click="snackbar.hideMessage()">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
