<script setup lang="ts">
import { watch, ref, Ref } from "vue";
import { Match } from "../../generated";

type TeamStats = {
  display: string;
  wins: number;
  games: number;
  goals: number;
  headToHead: { [opponent: string]: number };
};

const props = defineProps<{
  items: Match[];
}>();

let teams: { [teamName: string]: TeamStats } = {};
const sortedTeamIds: Ref<string[]> = ref([]);

const sortTeams = (items: Match[]) => {
  // Create a dictionary to store team data
  teams = {};

  // Helper function to determine the winner of a match
  const getWinner = (match: Match) => {
    return (match.left_team?.score || 0) > (match.right_team?.score || 0)
      ? match.left_team
      : match.right_team;
  };

  const setupTeams = (match: Match) => {
    if (!match.left_team.display) return;
    teams[match.left_team.display] = teams[match.left_team.display] || {
      display: match.left_team.display,
      wins: 0,
      games: 0,
      goals: 0,
      headToHead: {},
    };

    if (!match.right_team.display) return;
    teams[match.right_team.display] = teams[match.right_team.display] || {
      display: match.right_team.display,
      wins: 0,
      games: 0,
      goals: 0,
      headToHead: {},
    };
  };

  // Loop through all matches to calculate wins and head-to-head for each team
  items.forEach((match) => {
    setupTeams(match);

    if (match.left_team.score !== null && match.right_team.score !== null) {
      const winner = getWinner(match);
      const loser =
        winner === match.left_team ? match.right_team : match.left_team;

      if (!winner.display || !loser.display) return;

      teams[winner.display].wins++;

      teams[winner.display].goals =
        // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
        teams[winner.display].goals + (winner.score! - loser.score!);

      teams[loser.display].goals =
        // eslint-disable-next-line @typescript-eslint/no-non-null-assertion
        teams[loser.display].goals + (loser.score! - winner.score!);

      teams[winner.display].games++;
      teams[loser.display].games++;

      // Update head-to-head comparison for the winner against the loser
      if (teams[winner.display].headToHead[loser.display] === undefined) {
        teams[winner.display].headToHead[loser.display] = 0;
      }
      teams[winner.display].headToHead[loser.display]++;
    }
  });

  // Sort the teams based on the criteria
  const sortedTeams = Object.keys(teams).sort((a, b) => {
    const winsA = teams[a].wins || 0;
    const winsB = teams[b].wins || 0;

    const headToHeadA = teams[a].headToHead[b] || 0;
    const headToHeadB = teams[b].headToHead[a] || 0;

    if (winsA !== winsB) {
      return winsB - winsA; // Sort by wins first (descending order)
    } else if (headToHeadA !== headToHeadB) {
      return headToHeadB - headToHeadA;
    } else {
      const goalsA = teams[a].goals || 0;
      const goalsB = teams[b].goals || 0;

      return goalsB - goalsA;
    }
  });

  // Return the sorted teams array
  return sortedTeams;
};

watch(
  () => props.items,
  (items) => {
    sortedTeamIds.value = sortTeams(items);
  },
  { immediate: true }
);
</script>

<template>
  <v-card class="mt-5 p-4">
    <div class="text-h4">Standings</div>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">Team</th>
          <th class="text-left">Games</th>
          <th class="text-left">Wins</th>
          <th class="text-left">Goals</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="teamId in sortedTeamIds" :key="teamId">
          <td>{{ teams[teamId].display }}</td>
          <td>{{ teams[teamId].games }}</td>
          <td>{{ teams[teamId].wins }}</td>
          <td>{{ teams[teamId].goals }}</td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>
