<script setup lang="ts">
import moment from "moment";
import { Match } from "../../generated";

defineProps<{
  items: Match[];
  currentTeamId?: number;
}>();

function formatStartTime(datetime?: string): string {
  return moment(datetime, "YYYY-MM-DD HH:mm:ss").format("ddd HH:mm");
}
</script>

<template>
  <v-list class="rounded-t-none">
    <v-list-item
      class="my-2"
      :link="true"
      v-for="item in items"
      :key="item.id"
      :to="{
        name: 'tournament_match_detail',
        params: {
          match_id: item.id,
        },
      }"
    >
      <v-list-item-title>
        <v-row align="start" class="text-sm" no-gutters>
          <v-col
            cols="5"
            :class="
              currentTeamId &&
              currentTeamId == item.left_team.tournament_team_id
                ? 'font-weight-bold'
                : ''
            "
            class="text-right pr-2"
          >
            {{ item.left_team.display }}
          </v-col>
          <v-col
            v-if="item.left_team.score && item.right_team.score"
            cols="2"
            class="text-center text-gray-600 underline"
            >{{ item.left_team.score }} : {{ item.right_team.score }}
          </v-col>
          <v-col v-else cols="2" class="text-center text-gray-500">: </v-col>
          <v-col
            cols="5"
            :class="
              currentTeamId &&
              currentTeamId == item.right_team.tournament_team_id
                ? 'font-weight-bold'
                : ''
            "
            class="pl-2"
          >
            {{ item.right_team.display }}
          </v-col>
        </v-row>
        <v-row
          v-if="item.field_name"
          align="start"
          class="text-gray-400 mt-0 mb-2 text-xs"
          no-gutters
        >
          <v-col cols="12" class="text-center">
            {{ item.name }} — {{ item.field_name }} —
            {{ formatStartTime(item.match_start) }}
          </v-col>
        </v-row>
      </v-list-item-title>
    </v-list-item>
  </v-list>
</template>
