<script setup lang="ts">
defineProps<{
  title: string;
  leftScore?: number | null;
  rightScore?: number | null;
  showLeft?: boolean;
  showRight?: boolean;
}>();
</script>

<template>
  <div class="mt-5">
    <div class="text-center text-caption">
      <span>{{ title }}</span>
    </div>
    <div class="d-flex justify-center mb-2">
      <v-sheet class="pa-2">
        <div v-if="showLeft">{{ leftScore }}</div>
      </v-sheet>
      <v-sheet class="d-flex justify-center w-2/3 pa-2">
        <v-sheet class="ma-1 pa-1 w-1/2">
          <v-progress-linear
            reverse
            max="4"
            height="8"
            bg-color="gray-darken-1"
            :model-value="(showLeft && leftScore) || 0"
            color="deep-purple-darken-4"
          ></v-progress-linear>
        </v-sheet>
        <v-sheet class="my-1 py-1 w-1/2">
          <v-progress-linear
            max="4"
            height="8"
            bg-color="gray-darken-1"
            :model-value="(showRight && rightScore) || 0"
            color="cyan-darken-1"
          ></v-progress-linear>
        </v-sheet>
      </v-sheet>
      <v-sheet class="pa-2">
        <div v-if="showRight">{{ rightScore }}</div>
      </v-sheet>
    </div>
  </div>
</template>
