<script setup lang="ts">
import { Radar } from "vue-chartjs";
import { MatchTeam } from "../../generated/models/MatchTeam";
import { useDisplay } from "vuetify/lib/framework.mjs";
import {
  Chart as ChartJS,
  Tooltip,
  Legend,
  PointElement,
  LineElement,
  Filler,
  RadialLinearScale,
} from "chart.js";
import { Option } from "../../../global";

ChartJS.register(
  RadialLinearScale,
  PointElement,
  LineElement,
  Filler,
  Tooltip,
  Legend
);

const props = defineProps<{
  leftTeam?: Option<MatchTeam>;
  rightTeam?: Option<MatchTeam>;
  singleTeam?: Option<MatchTeam>;
}>();

const { mobile } = useDisplay();

const labels = ["Rules", "Fouls", "Fairness", "Attitude", "Com."];

const chartOptions = {
  responsive: true,
  plugins: {
    legend: {
      labels: {
        font: {
          size: 20,
        },
      },
    },
  },
  scales: {
    r: {
      angleLines: {
        display: false,
      },
      min: 0,
      max: 4,
      ticks: {
        stepSize: 0.5,
        textStrokeWidth: 2,
        font: {
          size: 14,
        },
      },
      pointLabels: {
        font: {
          size: 14,
        },
      },
    },
  },
};

const doubleDataset = [
  {
    label: props.leftTeam?.display,
    backgroundColor: "rgba(49,27,146,0.2)",
    borderColor: "rgba(49,27,146,0.2)",
    data: [
      props.leftTeam?.rules_knowledge_and_use || 0,
      props.leftTeam?.fouls_and_body_contact || 0,
      props.leftTeam?.fair_mindedness || 0,
      props.leftTeam?.attitude_and_self_control || 0,
      props.leftTeam?.communication || 0,
    ],
  },
  {
    label: props.rightTeam?.display,
    backgroundColor: "rgba(0,172,193,0.2)",
    borderColor: "rgba(0,172,193,1)",
    data: [
      props.rightTeam?.rules_knowledge_and_use || 0,
      props.rightTeam?.fouls_and_body_contact || 0,
      props.rightTeam?.fair_mindedness || 0,
      props.rightTeam?.attitude_and_self_control || 0,
      props.rightTeam?.communication || 0,
    ],
  },
];

const singleDataset = [
  {
    label: props.singleTeam?.display,
    backgroundColor: "rgba(49,27,146,0.2)",
    borderColor: "rgba(49,27,146,0.2)",
    data: [
      props.singleTeam?.rules_knowledge_and_use || 0,
      props.singleTeam?.fouls_and_body_contact || 0,
      props.singleTeam?.fair_mindedness || 0,
      props.singleTeam?.attitude_and_self_control || 0,
      props.singleTeam?.communication || 0,
    ],
  },
];

const chartData = {
  labels: labels,
  datasets: props.singleTeam ? singleDataset : doubleDataset,
};
</script>

<template>
  <div class="mt-10 d-flex justify-center">
    <div class="justify-center" :class="mobile ? 'w-100' : 'w-2/3'">
      <Radar :options="chartOptions" :data="chartData" />
    </div>
  </div>
</template>
