<script lang="ts">
import { defineStore } from "pinia";
import { ref, Ref } from "vue";
import { OrderItem, TournamentTeam, TournamentTeamPlayer } from "../generated";
import { Option, WithId } from "../../global";

export const useCashRegister = defineStore("cash_register", () => {
  const selected_team: Ref<Option<WithId<TournamentTeam>>> = ref(null);
  const selected_player: Ref<Option<TournamentTeamPlayer>> = ref(null);
  const order_items: Ref<OrderItem[]> = ref([]);

  function orderTotal(): string {
    let count = 0;
    order_items.value.forEach((item) => {
      count += item.quantity * item.price;
    });

    return count.toFixed(2);
  }

  return { selected_team, selected_player, order_items, orderTotal };
});

export default useCashRegister;
</script>
