<script lang="ts">
import { defineStore } from "pinia";
import { Ref } from "vue";
import { ref } from "vue";

type Color = mColor;

enum mColor {
  RED = "red",
  GREEN = "success",
  NEUTRAL = "blue-grey",
}

export const useSnackbar = defineStore("snackbar", () => {
  const message = ref("");
  const color: Ref<Color> = ref(mColor.NEUTRAL);
  const show = ref(false);

  function error(msg: string): void {
    color.value = mColor.RED;
    showMessage(msg);
  }

  function success(msg: string): void {
    color.value = mColor.GREEN;
    showMessage(msg);
  }

  function notification(msg: string): void {
    color.value = mColor.NEUTRAL;
    showMessage(msg);
  }

  function showMessage(msg: string): void {
    show.value = false;
    message.value = msg;
    show.value = true;
  }

  function hideMessage(): void {
    show.value = false;
  }

  return {
    message,
    show,
    color,
    showMessage,
    hideMessage,
    error,
    success,
    notification,
  };
});

export default useSnackbar;
</script>
