<script setup lang="ts">
import axios from "axios";

// fill in productive URL here
axios.defaults.baseURL = "";
axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
axios.defaults.xsrfCookieName = "csrftoken";
axios.defaults.withCredentials = true;
</script>

<template>
  <AppLayout />
</template>

<style scoped></style>
