<script scoped setup lang="ts">
import { onMounted, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { TournamentTeam, TournamentTeamPlayer } from "@/generated";
import { MetaService } from "@/generated/services/MetaService";
import { useSnackbar } from "@/stores/snackbar.vue";
import { useCashRegister } from "@/stores/cash_register.vue";
import { Ref } from "vue";
import { WithId } from "../../../global";

const route = useRoute();
const router = useRouter();
const tournament_teams: Ref<WithId<TournamentTeam>[]> = ref([]);
const first_name = ref("");
const last_name = ref("");
const register = useCashRegister();
const isStaff = ref(false);

onMounted(() => {
  if (!register.selected_team) {
    MetaService.listTournamentTeams(route.params.tournament_id as string).then(
      (res) => {
        tournament_teams.value = res;
      }
    );
  } else {
    isStaff.value = true;
  }
});
function playerSuccess() {
  useSnackbar().success(
    `Player ${first_name.value} ${last_name.value} was added to ${register.selected_team?.team_name}`
  );
  register.selected_team = null;
  redirectBack();
}
function redirectBack() {
  if (!isStaff.value) return;

  router.replace({
    path: `/tournaments/${route.params.tournament_id}/cash_register`,
  });
}

function submitForm() {
  if (!register.selected_team) return;

  const team_player: TournamentTeamPlayer = {
    tournament_team_id: register.selected_team.id,
    player: {
      first_name: first_name.value,
      last_name: last_name.value,
    },
  };

  MetaService.createTournamentTeamPlayer(
    route.params.tournament_id as string,
    team_player
  )
    .then((res) => {
      register.selected_player = res;
      playerSuccess();
    })
    .catch(() => {
      useSnackbar().error("Something went wrong");
    });
}
</script>

<template>
  <div class="cash">
    <div class="modal-content">
      <div v-if="!register.selected_team" class="teams">
        <div class="boxes">
          <div class="box" v-for="team in tournament_teams" :key="team.id">
            <button @click="register.selected_team = team">
              {{ team.team_name }}
            </button>
          </div>
        </div>
      </div>

      <div v-if="register.selected_team" class="add_player">
        <h2>
          Create Player for
          <span class="font-bold">{{ register.selected_team.team_name }}</span>
        </h2>
        <br />

        <v-form @submit.prevent="submitForm()">
          <v-row>
            <v-col>
              <v-text-field
                v-model="first_name"
                label="Firstname"
                hide-details="auto"
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-text-field
                v-model="last_name"
                label="Lastname"
                hide-details="auto"
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <div class="flex items-center justify-between">
            <v-btn class="m-3" type="submit">Submit</v-btn>
            <v-btn
              class="m-3"
              color="primary"
              @click="
                redirectBack();
                register.selected_team = null;
              "
              >Back</v-btn
            >
          </div>
        </v-form>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import "@/assets/cash.css";
.add_player {
  color: white;
}
h2 {
  font-size: 1rem;
}
input {
  color: white;
  border: 1px solid white;
}
</style>
