<script scoped setup lang="ts">
import {
  Order,
  OrderItem,
  Product,
  TournamentProduct,
  TournamentTeam,
} from "@/generated";
import { MetaService } from "@/generated/services/MetaService";
import { onMounted } from "vue";
import { ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { Ref } from "vue";
import { useSnackbar } from "@/stores/snackbar.vue";
import { Option, WithId } from "../../../global";
import { useCashRegister } from "../../stores/cash_register.vue";
import { useDisplay } from "vuetify/lib/framework.mjs";

const route = useRoute();
const router = useRouter();
const { mobile } = useDisplay();

const products: Ref<WithId<TournamentProduct>[]> = ref([]);
const tournament_teams: Ref<WithId<TournamentTeam>[]> = ref([]);

const show_modal = ref(false);
const selected_category: Ref<Product.category> = ref(Product.category.DRINKS);
const register = useCashRegister();

onMounted(() => {
  MetaService.listTournamentProducts(route.params.tournament_id as string).then(
    (res: WithId<TournamentProduct>[]) => {
      products.value = res;
    }
  );

  MetaService.listTournamentTeams(route.params.tournament_id as string).then(
    (res) => {
      tournament_teams.value = res;
    }
  );
});

function addOrderItem(product: WithId<TournamentProduct>) {
  const item = register.order_items.find((i) => {
    return i.product_id === product.product_id;
  });
  if (item) {
    const index = register.order_items.findIndex(
      (i) => i.product_id === product.product_id
    );
    item.quantity = item.quantity + 1;
    register.order_items[index] = item;
  } else {
    register.order_items.push({
      product_id: product.product_id,
      product_name: product.product_name,
      quantity: 1,
      price: product.price || 0,
    });
  }
}
function removeOrderItem(product_id?: number) {
  const item: Option<OrderItem> = register.order_items.find((i) => {
    return i.product_id === product_id;
  });
  if (!item) return;

  const index = register.order_items.findIndex(
    (i) => i.product_id === product_id
  );

  if (item.quantity === 1) {
    register.order_items.splice(index, 1);
  } else {
    item.quantity = item.quantity - 1;
    register.order_items[index] = item;
  }
}
function payCash() {
  if (
    confirm(
      `Haben sie die Zahlung im Wert von CHF ${register.orderTotal()} erhalten?`
    )
  ) {
    orderSuccess();
  }
}
function placeOrder() {
  if (
    confirm(
      `Wollen sie CHF ${register.orderTotal()} an ${selectedPlayerName()}(${
        register.selected_team?.team_name
      }) verbuchen?`
    )
  ) {
    if (!register.selected_player) return;

    const order: Order = {
      person_id: register.selected_player.player_id as unknown as number,
      order_items: register.order_items,
    };

    MetaService.createOrder(route.params.tournament_id as string, order)
      .then(() => {
        orderSuccess();
      })
      .catch(() => {
        error();
      });
  }
}

function error() {
  useSnackbar().error("Ein Fehler ist aufgetreten");
}
function orderSuccess() {
  const added_to = register.selected_player
    ? register.selected_player.public_name
    : "Twint";
  useSnackbar().success(
    `Die Produkte im wert von CHF${register.orderTotal()} wurden an ${added_to} verbucht!`
  );
  register.order_items = [];
  register.selected_player = null;
  register.selected_team = null;
}
function openTournamentTeamPlayers() {
  register.selected_player = null;
  show_modal.value = true;
  if (tournament_teams.value.length === 1) {
    register.selected_team = tournament_teams.value[0];
  }
}

function selectedPlayerName() {
  return register.selected_player?.public_name;
}

function redirectOrders() {
  router.push({
    name: "order",
    params: { tournament_id: route.params.tournament_id },
  });
}

function addPlayer() {
  localStorage.setItem("order_items", JSON.stringify(register.order_items));
  router.push({
    path: `/tournaments/${route.params.tournament_id}/add_player`,
  });
}

function categorizedProducts() {
  return products.value.filter((p) => p.category === selected_category.value);
}

function categorylessProducts() {
  return products.value.filter((p) => p.category == null);
}
</script>

<template>
  <div class="cash" :class="mobile ? 'p-1' : 'p-5'">
    <div class="tabs">
      <button
        :class="{ in_green: selected_category === 'Drinks' }"
        class="fancy-button px-4 py-2"
        @click="selected_category = Product.category.DRINKS"
      >
        Drinks
      </button>
      <button
        :class="{ in_green: selected_category === 'Food' }"
        class="fancy-button px-4 py-2"
        @click="selected_category = Product.category.FOOD"
      >
        Food
      </button>
      <button
        :class="{ in_green: selected_category === 'Merch' }"
        class="fancy-button px-4 py-2"
        @click="selected_category = Product.category.MERCH"
      >
        Merch
      </button>
    </div>
    <div class="content">
      <!-- PRODUCTS  -->
      <div class="products boxes">
        <div
          class="product box"
          v-for="product in categorizedProducts()"
          :key="product.id"
        >
          <button class="mx-2" @click="addOrderItem(product)">
            {{ product.product_name }}
          </button>
        </div>
        <div
          class="product box categoryless"
          v-for="product in categorylessProducts()"
          :key="product.id"
        >
          <button class="mx-2" @click="addOrderItem(product)">
            {{ product.product_name }}
          </button>
        </div>
      </div>
      <!-- PRODUCTS END -->

      <div class="order">
        <div class="items" v-if="register.order_items.length > 0">
          <div class="item" v-for="item in register.order_items" :key="item.id">
            <button
              class="remove in-pink"
              @click="removeOrderItem(item.product_id)"
            >
              –
            </button>
            <span> {{ item.quantity }} x {{ item.product_name }} </span>
            <span> CHF {{ (item.quantity * item.price).toFixed(2) }} </span>
          </div>
          <div class="total">CHF {{ register.orderTotal() }}</div>
        </div>
        <div class="footer">
          <div class="select-player">
            <button
              class="fancy-button px-4 py-2"
              @click="openTournamentTeamPlayers()"
            >
              Spieler*in Selektieren
            </button>
            <button
              v-if="register.selected_player"
              :disabled="!register.selected_player"
              class="fancy-button in-green px-4 py-2"
              @click="placeOrder()"
            >
              An {{ selectedPlayerName() }} verbuchen
            </button>
          </div>

          <div>
            <button class="fancy-button px-4 py-2" @click="redirectOrders()">
              Bestellungen Ansehen
            </button>
            <button class="fancy-button in-green px-4 py-2" @click="payCash()">
              Mit Twint bezahlt
            </button>
          </div>
        </div>

        <div v-if="show_modal" id="myModal" class="modal">
          <div class="modal-content">
            <div v-if="!register.selected_team" class="teams">
              <button class="close in-pink p-3" @click="show_modal = false">
                Zurück
              </button>
              <div class="boxes">
                <div
                  class="box"
                  v-for="team in tournament_teams"
                  :key="team.id"
                >
                  <button @click="register.selected_team = team">
                    {{ team.team_name }}
                  </button>
                </div>
              </div>
            </div>

            <div v-if="register.selected_team" class="team_players">
              <button
                class="close in-pink p-3"
                @click="register.selected_team = null"
              >
                Zurück
              </button>
              <div class="boxes">
                <div class="box">
                  <button @click="addPlayer()">Spieler:in hinzufügen</button>
                </div>
                <div
                  class="box"
                  v-for="player in register.selected_team
                    .tournament_team_players"
                  :key="player.player_id"
                >
                  <button
                    @click="
                      register.selected_player = player;
                      show_modal = false;
                    "
                  >
                    {{ player.public_name }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import "@/assets/cash.css";
.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.content .products {
  flex: 2;
  height: min-content;
  max-height: 100%;
  overflow: auto;
  padding-bottom: 30px;
}

.content .order {
  display: flex;
  flex: 1;
  height: 100%;
  color: white;
}

.content .order .items {
  position: fixed;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  padding: 20px;
  box-shadow: 1px 1px 30px #fffb96;
  border: 4px solid #ff71ce;
}
.content .order .items .item {
  margin: 5px 0;
}

.content .order .items .item span {
  font-weight: bold;
}

.content .order .items .remove {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 15px;
}

.content .order .items .item button {
  margin-right: 10px;
}

.content .order .total {
  border-top: 4px solid #01cdfe;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
}

.content .order .footer {
  bottom: 10px;
  position: fixed;
}

.content .order .footer button {
  margin: 5px;
  height: 100px;
}

.content .order .footer .select-player {
  width: 100%;
}

.team_players .boxes {
  overflow: scroll;
}

.categoryless {
  background-color: #01cdfe !important;
}

.tabs {
  margin-bottom: 10px;
  margin-left: 5px;
}

.tabs button {
  margin-right: 15px;
  padding: 20px;
}
</style>
