<script scoped>
// TODO: Migrate to TypeScript
export default {
  name: "LottoView",
  data() {
    return {
      lotto_number: null,
    };
  },
  mounted() {
    this.lotto_number = Math.floor(Math.random() * 1000) + 1;
    setInterval(
      function () {
        this.lotto_number = Math.floor(Math.random() * 1000) + 1;
      }.bind(this),
      120000 // 2 Minutes
    );
  },
  methods: {},
};
</script>
<template>
  <div class="cash">
    <div class="content">
      <div class="child">
        <span class="random_number">{{ lotto_number }}</span>
      </div>
    </div>
  </div>
</template>

<style scoped>
@import "@/assets/cash.css";
.content {
  height: 100%;
  position: relative;
}
.child {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
span.random_number {
  font-size: 22em;
  text-align: center;
  color: white;
}
</style>
