<script setup scoped lang="ts">
import { Order } from "@/generated";
import { Ref, ref, onMounted } from "vue";
import { useRoute, useRouter } from "vue-router";
import { OrderStats } from "../../models/OrderStats";
import { MetaService } from "../../generated/services/MetaService";

const route = useRoute();
const router = useRouter();

const orders: Ref<Order[]> = ref([]);
const stats: Ref<OrderStats[]> = ref([]);
const selected_tab = ref("overview");

onMounted(() => {
  loadOrders();
  setInterval(
    function () {
      loadOrders();
    }.bind(this),
    30000 // 30 Seconds
  );
});
function loadOrders() {
  MetaService.listOrders(route.params.tournament_id as string).then((res) => {
    orders.value = res;
  });

  MetaService.statsOrder(route.params.tournament_id as string).then((res) => {
    stats.value = res;
  });
}
function deleteOrder(order: Order) {
  if (confirm("Are your sure?")) {
    MetaService.destroyOrder(
      route.params.tournament_id as string,
      order.id as unknown as string
    ).then(() => loadOrders());
  }
}
function redirectCashRegister() {
  router.replace({
    name: "cash_register",
    params: { tournament_id: route.params.tournament_id },
  });
}
</script>

<template>
  <div class="cash">
    <div class="overflow">
      <button
        class="back fancy-button px-4 py-2"
        @click="redirectCashRegister()"
      >
        Zu den Bestellungen
      </button>
      <div class="tabs">
        <button
          :class="{ in_green: selected_tab === 'overview' }"
          class="fancy-button px-4 py-2"
          @click="selected_tab = 'overview'"
        >
          Übersicht
        </button>
        <button
          :class="{ in_green: selected_tab === 'stats' }"
          class="fancy-button px-4 py-2"
          @click="selected_tab = 'stats'"
        >
          Stats
        </button>
      </div>
      <table v-if="selected_tab === 'stats'" class="table-auto">
        <thead>
          <tr>
            <th>Person</th>
            <th>Gesamtbetrag</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="stat in stats" :key="stat.person_pk">
            <th>{{ stat.name }}</th>
            <th>{{ stat.price }} CHF</th>
          </tr>
        </tbody>
      </table>

      <table v-if="selected_tab === 'overview'" class="table-auto">
        <thead>
          <tr>
            <th>Nr.</th>
            <th>Person</th>
            <th>Produkte</th>
            <th>Gesamtbetrag</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="order in orders" :key="order.id">
            <td>{{ order.id }}</td>
            <td>{{ order.person_name }}</td>
            <td>
              <ul>
                <li v-for="item in order.order_items" :key="item.id">
                  {{ item.quantity }}x {{ item.product_name }}
                  {{ (item.quantity * item.price).toFixed(2) }}CHF
                </li>
              </ul>
            </td>
            <td>{{ (order.total_price || 0).toFixed(2) }} CHF</td>
            <td>
              <button @click="deleteOrder(order)">Löschen</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<style scoped>
@import "@/assets/cash.css";
table {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 20px;
}
.overflow {
  overflow: auto;
  height: 100%;
}
tr:nth-child(even) {
  background-color: #b967ff;
}
tr:nth-child(odd) {
  background-color: hsla(160, 100%, 37%, 1);
}
td:nth-child(4),
td:nth-child(4) {
  width: 100px;
  text-align: right;
}

thead tr {
  background-color: #fffb96 !important;
}

table button {
  padding: 10px;
  background-color: #ff71ce;
}

td,
th {
  padding: 3px 10px;
}

button.back {
  margin-bottom: 20px;
}
</style>
