<script scoped>
// TODO: Migrate to TypeScript
import axios from "axios";

export default {
  data() {
    return {
      tournaments: [],
      teams: [],
    };
  },
  mounted() {
    const token = JSON.parse(sessionStorage.getItem("oauth_token"));
    console.log(token);

    axios.get("/meta/tournaments/", {}).then((res) => {
      this.tournaments = res.data;
    });
  },
  methods: {
    redirectCashRegister(tournament_id) {
      this.$router.push({
        name: "cash_register",
        params: { tournament_id: tournament_id },
      });
    },
  },
};
</script>

<style scoped>
@import "@/assets/cash.css";
</style>

<template>
  <div class="cash">
    <div class="boxes">
      <div class="box" v-for="tournament in tournaments" :key="tournament">
        <button @click="redirectCashRegister(tournament.id)">
          {{ tournament.name }}
        </button>
      </div>
    </div>
  </div>
</template>
