<template>
  <div class="bg-white">
    <!-- Header -->
    <header class="absolute inset-x-0 top-0 z-50">
      <nav
        class="flex items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Scorillaz</span>
            <img
              :class="mobile ? 'h-16' : 'h-32'"
              class="w-auto"
              src="@/assets/images/logo.svg"
              alt="logo"
            />
          </a>
        </div>
        <div
          v-if="false"
          class="fixed right-0 mr-10 lg:flex lg:flex-1 lg:justify-end"
        >
          <a href="/m/1/teams">
            <v-btn>Tournament</v-btn>
          </a>
        </div>
      </nav>

      <!-- Mobile Menu -->
      <Dialog
        as="div"
        class="lg:hidden"
        @close="mobileMenuOpen = false"
        :open="mobileMenuOpen"
      >
        <div class="fixed inset-0 z-50" />
        <DialogPanel
          class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
        >
          <div class="flex items-center justify-between">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">Scorillaz</span>
              <img class="h-20 w-auto" src="@/assets/images/logo.svg" alt="" />
            </a>
            <button
              type="button"
              class="-m-2.5 rounded-md p-2.5 text-gray-700"
              @click="mobileMenuOpen = false"
            >
              <span class="sr-only">Close menu</span>
              <XMarkIcon class="h-6 w-6" aria-hidden="true" />
            </button>
          </div>
          <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
              <div class="space-y-2 py-6">
                <a
                  v-for="item in navigation"
                  :key="item.name"
                  :href="item.href"
                  class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >{{ item.name }}</a
                >
              </div>
              <div class="py-6">
                <a
                  href="/admin/login"
                  class="-mx-3 block rounded-lg py-2.5 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                  >Log in</a
                >
              </div>
            </div>
          </div>
        </DialogPanel>
      </Dialog>
    </header>

    <main style="background-color: #e5d9b3">
      <!-- Hero section -->
      <div style="height: 10vh; background-color: #dc76a5"></div>

      <div
        class="relative isolate overflow-hidden bg-gray-900 pt-14 pb-16 sm:pb-20"
        style="
          background-color: #dc76a5;
          box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.75);
          border-end-end-radius: 5vw;
          border-end-start-radius: 5vw;
        "
        :style="mobile ? 'height: 60vh' : 'height: 48vw'"
      >
        <img
          src="@/assets/images/index_background.jpg"
          alt=""
          class="absolute inset-0 -z-10 object-cover w-full h-full max-w-none"
          style="object-position: center; object-fit: cover"
        />
      </div>

      <v-btn
        size="large"
        class="fixed right-0 mr-10 mt-10 top-0 z-50"
        :to="'/m/3/matches'"
        >Scores and more</v-btn
      >

      <!-- Tournament Section -->
      <div class="relative isolate px-6 sm:mt-56 lg:px-8">
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
          <h2 class="text-base font-semibold leading-7 text-indigo-600">
            28.-30. July 2023
          </h2>
          <p
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
          >
            Burning Ape is back!
          </p>
        </div>

        <p
          class="mx-auto mt-6 max-w-2xl text-center text-lg leading-8 text-gray-600"
        >
          In a different shape, in a different season, at a different place. But
          still as awesome as ever! Last time organised in 2019, the Scorillaz
          go wild with the comeback of their most beloved event.
        </p>
      </div>

      <!-- Pricing section -->
      <div
        class="relative isolate mt-24 py-24 px-6 lg:px-8 shadow-top"
        style=""
      >
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
          <h2 class="text-base font-semibold leading-7 text-indigo-600">
            Pricing
          </h2>
          <p
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
          >
            All you need to know about our Fees
          </p>
        </div>
        <div
          class="mx-auto mt-16 grid max-w-lg grid-cols-1 items-center gap-y-6 sm:mt-20 sm:gap-y-0 lg:max-w-4xl lg:grid-cols-2"
        >
          <div
            v-for="(tier, tierIdx) in tiers"
            :key="tier.name"
            :class="[
              tier.featured
                ? 'relative bg-gray-900 shadow-2xl'
                : 'bg-white/60 sm:mx-8 lg:mx-0',
              tier.featured
                ? ''
                : tierIdx === 0
                ? 'rounded-t-3xl sm:rounded-b-none lg:rounded-tr-none lg:rounded-bl-3xl'
                : 'sm:rounded-t-none lg:rounded-tr-3xl lg:rounded-bl-none',
              'rounded-3xl p-8 ring-1 ring-gray-900/10 sm:p-10',
            ]"
          >
            <h3
              :class="[
                tier.featured ? 'text-indigo-400' : 'text-indigo-600',
                'text-base font-semibold leading-7',
              ]"
            >
              {{ tier.name }}
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
              <span
                :class="[
                  tier.featured ? 'text-white' : 'text-gray-900',
                  'text-5xl font-bold tracking-tight',
                ]"
                >{{ tier.price }}</span
              >
              <span
                :class="[
                  tier.featured ? 'text-gray-400' : 'text-gray-500',
                  'text-base',
                ]"
                >{{ tier.period }}</span
              >
            </p>
            <p
              :class="[
                tier.featured ? 'text-gray-300' : 'text-gray-600',
                'mt-6 text-base leading-7',
              ]"
            >
              {{ tier.description }}
            </p>
            <ul
              role="list"
              :class="[
                tier.featured ? 'text-gray-300' : 'text-gray-600',
                'mt-8 space-y-3 text-sm leading-6 sm:mt-10',
              ]"
            >
              <li
                v-for="feature in tier.features"
                :key="feature"
                class="flex gap-x-3"
              >
                <CheckIcon
                  :class="[
                    tier.featured ? 'text-indigo-400' : 'text-indigo-600',
                    'h-6 w-5 flex-none',
                  ]"
                  aria-hidden="true"
                />
                {{ feature }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Bananas section -->
      <div
        class="relative z-10 mt-32 pb-20 sm:mt-56 sm:pb-24 xl:pb-0"
        style="background-color: #a0977d"
      >
        <div
          class="mx-auto flex max-w-7xl flex-col items-center gap-y-10 gap-x-8 px-6 sm:gap-y-8 lg:px-8 xl:flex-row xl:items-stretch"
        >
          <div class="-mt-8 w-full max-w-2xl xl:-mb-8 xl:w-96 xl:flex-none">
            <div
              class="relative aspect-[2/1] h-full md:-mx-8 xl:mx-0 xl:aspect-auto"
            >
              <img
                class="absolute inset-0 h-full w-full rounded-2xl bg-gray-800 object-cover shadow-2xl"
                src="@/assets/images/herb.jpg"
                alt=""
              />
            </div>
          </div>
          <div
            class="w-full max-w-2xl xl:max-w-none xl:flex-auto xl:py-24 xl:px-16"
          >
            <figure class="relative isolate pt-6 sm:pt-12">
              <blockquote
                class="text-xl font-semibold leading-8 text-white sm:text-2xl sm:leading-9"
              >
                <p>
                  Meet Bananas, the fearless leader of the guerillaz fighters at
                  Burning Ape! With his wild mane of curly hair and mischievous
                  grin, Bananas is a force to be reckoned with on and off the
                  Ultimate field. He's always up for a challenge and never backs
                  down from a fight, especially when it comes to taking over the
                  lead from Gurbanguly.
                </p>
              </blockquote>
              <figcaption class="mt-8 text-base">
                <div class="font-semibold text-white">Bananas</div>
                <div class="mt-1 text-white">CEO of Guerillaz</div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- Google Maps -->
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1n0OPY0SLJbhpopLlmOqNVJrm0ESHAIg&ehbc=2E312F"
        class="mt-32 text-center mx-auto rounded-2xl shadow-2xl"
        :width="mobile ? '95%' : '920'"
        height="690"
      ></iframe>

      <!-- FAQ section -->
      <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-56 lg:px-8">
        <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
          <h2
            class="text-2xl font-bold leading-10 tracking-tight text-gray-900"
          >
            FAQ's
          </h2>
          <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
            <Disclosure
              as="div"
              v-for="faq in faqs"
              :key="faq.question"
              class="pt-6"
              v-slot="{ open }"
            >
              <dt>
                <DisclosureButton
                  class="flex w-full items-start justify-between text-left text-gray-900"
                >
                  <span class="text-base font-semibold leading-7">{{
                    faq.question
                  }}</span>
                  <span class="ml-6 flex h-7 items-center">
                    <PlusSmallIcon
                      v-if="!open"
                      class="h-6 w-6"
                      aria-hidden="true"
                    />
                    <MinusSmallIcon v-else class="h-6 w-6" aria-hidden="true" />
                  </span>
                </DisclosureButton>
              </dt>
              <DisclosurePanel as="dd" class="mt-2 pr-12">
                <p
                  class="text-base leading-7 text-gray-600"
                  v-html="faq.answer"
                ></p>
              </DisclosurePanel>
            </Disclosure>
          </dl>
        </div>
      </div>
      <div class="relative isolate mt-12 px-6 sm:mt-56 lg:px-8">
        <div class="mx-auto max-w-2xl text-center lg:max-w-4xl">
          <h2 class="text-base font-semibold leading-7 text-indigo-600">
            Sponsoring
          </h2>
          <p
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
          >
            Special Thanks to our sponsors!
          </p>
        </div>

        <v-container v-if="mobile">
          <v-row no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/1.png" alt="sponsor1" />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="m-8">
              <img
                class="w-64"
                src="@/assets/images/sponsors/2.png"
                alt="sponsor2"
              />
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col class="m-8">
              <img
                class="w-64"
                src="@/assets/images/sponsors/4.png"
                alt="sponsor4"
              />
            </v-col>
          </v-row>
          <v-row align="center" class="mt-10" no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/5.png" alt="sponsor5" />
            </v-col>
          </v-row>
          <v-row align="center" class="mt-10" no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/6.png" alt="sponsor6" />
            </v-col>
          </v-row>
          <v-row align="center" class="mt-10" no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/7.png" alt="sponsor7" />
            </v-col>
          </v-row>
        </v-container>
        <v-container v-else>
          <v-row no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/1.png" alt="sponsor1" />
            </v-col>
            <v-col class="m-8">
              <img
                class="w-64"
                src="@/assets/images/sponsors/2.png"
                alt="sponsor2"
              />
            </v-col>
            <v-col class="m-8">
              <img
                class="w-64"
                src="@/assets/images/sponsors/4.png"
                alt="sponsor4"
              />
            </v-col>
          </v-row>
          <v-row class="mt-10" no-gutters>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/5.png" alt="sponsor5" />
            </v-col>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/6.png" alt="sponsor6" />
            </v-col>
            <v-col class="m-8">
              <img src="@/assets/images/sponsors/7.png" alt="sponsor7" />
            </v-col>
          </v-row>
        </v-container>

        <!-- Name sponsors -->
        <v-container>
          <p class="text-center p-2 font-bold text-h5">Marianne Weyrich</p>
          <p class="text-center p-2 font-bold text-h5">Michèle Kramer</p>
          <p class="text-center p-2 font-bold text-h5">
            Brigitte und Christian Hager
          </p>
          <p class="text-center p-2 font-bold text-h5">Patrizia Gautschi</p>
        </v-container>
      </div>
    </main>

    <!-- Footer -->
    <footer aria-labelledby="footer-heading" style="background-color: #e5d9b3">
      <div class="mx-auto max-w-7xl px-6 pb-8 pt-4 lg:px-8">
        <div class="pt-15 md:flex md:items-center md:justify-between">
          <div class="flex space-x-6 md:order-2">
            <a
              v-for="item in footerNavigation.social"
              :key="item.name"
              :href="item.href"
              class="text-gray-600 hover:text-gray-500"
            >
              <span class="sr-only">{{ item.name }}</span>
              <component :is="item.icon" class="h-7 w-7" aria-hidden="true" />
            </a>
          </div>
          <img
            :class="mobile ? 'h-24' : 'h-32'"
            class="w-auto mt-7"
            src="@/assets/images/logo.svg"
            alt="logo"
          />
          <p class="mt-8 text-xs leading-5 text-gray-600 md:order-1 md:mt-0">
            &copy; 2023 Scorillaz. All rights reserved.
          </p>
        </div>
      </div>
    </footer>

    <marquee style="background-color: #e5d9b3" scrollamount="1" scrolldelay="0"
      ><i>Scooooorilllaaaaaaz <b class="ml-32">Huh!</b></i></marquee
    >
  </div>
</template>

<script setup lang="ts">
import { ref, defineComponent, h } from "vue";
import {
  Dialog,
  DialogPanel,
  Disclosure,
  DisclosureButton,
  DisclosurePanel,
} from "@headlessui/vue";
import {
  MinusSmallIcon,
  PlusSmallIcon,
  XMarkIcon,
} from "@heroicons/vue/24/outline";
import { useDisplay } from "vuetify/lib/framework.mjs";

const navigation = [{ name: "Home", href: "#" }];
const faqs = [
  {
    question: "What kind of tournament is the Burning Ape?",
    answer:
      "Burning Ape is not your typical ultimate Ultimate tournament. It's a wild, party-oriented event that brings together players and spectators from all over Europe for an unforgettable weekend of fun, Ultimate, and fire!",
  },
  {
    question:
      "What makes Burning Ape different from other Ultimate tournaments?",
    answer:
      "At Burning Ape, it's not just about the games. It's about the experience. From the giant wooden sculptures that we build to the non-stop party atmosphere, Burning Ape is a one-of-a-kind event that you won't find anywhere else.",
  },
  {
    question:
      "Can anyone participate in Burning Ape or do you need to be an experienced Ultimate player?",
    answer:
      "Burning Ape is open to all skill levels, from beginner to expert. Whether you're a seasoned Ultimate pro or you've never played before, you'll find a welcoming and supportive community at Burning Ape.",
  },
  {
    question: "What's the best way to prepare for Burning Ape?",
    answer:
      "The best way to prepare for Burning Ape is to get your party hat on and your Ultimate skills ready! We recommend getting plenty of rest before the tournament (you'll need it!) and practicing your throws with your teammates. And of course, don't forget to bring your sense of humor and your appetite for fun!",
  },
  {
    question: "How do I get to the location?",
    answer:
      "By public transport: <br /> You take the train to Belp, Bahnhof (careful, NOT Belp Steinbach). Then take the Bus Nr. B160 in direction to Bern Airport (every 15 minutes). After around 10 minutes, leave the bus at Belp, Giessenbad.<br /><br /> By car / camper: <br /> We have limited free parking spots for cars so first come first serve. On the free Parking Lot is the max hight of the car around 2.2m. Is your car more than that, you need to pay.",
  },
  {
    question:
      "When and where will I get the player’s card, party tickets, etc.?",
    answer:
      "During the welcome party on Friday the captains of each team may collect the required materials at the Burning Ape headquarters. More details will be communicated to the respective captains one week prior to the event.",
  },
  {
    question: "What is the food situation at Burning Ape?",
    answer:
      "- all food at the tournament is vegetarian<br>- breakfast on Saturday and Sunday is included in the player's Fee<br>- Lunch is NOT included in the player's Fee (but available during the day)<br>- Dinner is NOT included in the player's Fee (Please let us know the number of meals required for your team)",
  },
  {
    question: "Do i need special things to take with?",
    answer:
      "Of course you need!<br>- Theme clothes: TBD <br>- Your own cutlery and dishes<br>- Swimwear (Swimming pool are near by)<br><br>And for sure, a pair of cleats would be nice :-D",
  },
];
const footerNavigation = {
  solutions: [{ name: "Marketing", href: "#" }],
  social: [
    {
      name: "Email",
      href: "mailto:scorillazbern@gmail.com",
      // eslint-disable-next-line vue/one-component-per-file
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 128 128" }, [
            h("path", {
              "fill-rule": "evenodd",
              d: "M112.6,19H15.4C10.2,19,6,23.2,6,28.4c0,2.6,1.1,5.1,2.9,6.8L55,79c2.5,2.4,5.7,3.6,9,3.6s6.4-1.2,9-3.6l43-40.9v56.7 c0,3.4-2.8,6.2-6.2,6.2H18.2c-3.4,0-6.2-2.8-6.2-6.2V58c0-1.7-1.3-3-3-3s-3,1.3-3,3v36.8c0,6.7,5.5,12.2,12.2,12.2h91.7 c6.7,0,12.2-5.5,12.2-12.2V28c0-0.1,0-0.3,0-0.4C121.5,22.8,117.5,19,112.6,19z M114.9,30.9L68.8,74.7c-2.7,2.6-6.9,2.6-9.6,0 L13.1,30.9c-0.7-0.6-1.1-1.5-1.1-2.5c0-1.9,1.5-3.4,3.4-3.4h97.2c1.9,0,3.4,1.5,3.4,3.4C116,29.3,115.6,30.2,114.9,30.9z",
              "clip-rule": "evenodd",
            }),
          ]),
      }),
    },
    {
      name: "Facebook",
      href: "https://www.facebook.com/Scorillaz/",
      // eslint-disable-next-line vue/one-component-per-file
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              "fill-rule": "evenodd",
              d: "M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z",
              "clip-rule": "evenodd",
            }),
          ]),
      }),
    },
    {
      name: "Instagram",
      href: "https://www.instagram.com/scorillaz_bern",
      // eslint-disable-next-line vue/one-component-per-file
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              "fill-rule": "evenodd",
              d: "M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z",
              "clip-rule": "evenodd",
            }),
          ]),
      }),
    },
    {
      name: "YouTube",
      href: "https://www.youtube.com/@ultimatescorillaz3403",
      // eslint-disable-next-line vue/one-component-per-file
      icon: defineComponent({
        render: () =>
          h("svg", { fill: "currentColor", viewBox: "0 0 24 24" }, [
            h("path", {
              "fill-rule": "evenodd",
              d: "M19.812 5.418c.861.23 1.538.907 1.768 1.768C21.998 8.746 22 12 22 12s0 3.255-.418 4.814a2.504 2.504 0 0 1-1.768 1.768c-1.56.419-7.814.419-7.814.419s-6.255 0-7.814-.419a2.505 2.505 0 0 1-1.768-1.768C2 15.255 2 12 2 12s0-3.255.417-4.814a2.507 2.507 0 0 1 1.768-1.768C5.744 5 11.998 5 11.998 5s6.255 0 7.814.418ZM15.194 12 10 15V9l5.194 3Z",
              "clip-rule": "evenodd",
            }),
          ]),
      }),
    },
  ],
};

const mobileMenuOpen = ref(false);
const { mobile } = useDisplay();

const tiers = [
  {
    name: "Players Fee",
    price: "CHF 20.-",
    period: "per player",
    description: "For each person that wants to play in the tournament",
    features: ["Players Gift", "Free Camping", "Party Pass"],
    featured: true,
  },
  {
    name: "Team Fee",
    price: "CHF 150.-",
    period: "per team",
    description:
      "For each registered team that wants to participate in the tournament",
    features: [],
    featured: false,
  },
];
</script>
